<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itzik.ui_layer">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name=".BankActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BankInfoActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
